


@media all and (max-width:1024px){


}




@media all and (min-width:768px){
.mobview{display:none;}




}


@media all and (max-width:767px){
	
	.page-aside {
    width: 100%;}
	
	.mission-box { width: 100%;}
	
	.sidebar { margin: auto; margin-bottom: 30px;}

}

@media (min-width: 480px){

}
